:root {
  /* =========================== Farver ===========================*/
  --primary: #007e91c9;
  --secondary: #32555cc5;
  --tertiary: #e0d1d4;
  --accent_light: #e7eaef;
  --accent_dark: #9f9fa0;
  --white: #fff;
  --black: #000;

  /* =========================== Spacing ===========================*/
  /* Mobile Spaacing */
  --small_spacing: 0.5rem;
  --medium_spacing: 1rem;
  --large_spacing: 1.5rem;
  --x-large_spacing: 2rem;
}

/* =========================== Fonte ===========================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
}

body,
p,
label,
form {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  line-height: 2.7rem;
}

/* =========================== Overskrifter ===========================*/

h1 {
  font-family: "font-family: 'Cookie', cursive;";
  font-size: 2.5rem;
  padding-bottom: var(--large_spacing);
}
h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  padding-bottom: var(--large_spacing);
}
h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  padding-bottom: var(--large_spacing);
}
h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  padding-bottom: var(--large_spacing);
}
a {
  font-family: "Quicksand", sans-serif;
}

/* =========================== Section ===========================*/
section {
  padding-bottom: var(--large_spacing);
}
/* =========================== Menu ===========================*/
/* =========================== Burgermenu ===========================*/
header {
  position: relative;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0.3rem 2rem 1rem;
  grid-column: 1/-1;
  /* z-index: 30; */
}

header .logo {
  font-family: "Cookie", cursive;
  font-size: 4rem;
  color: #007e91;
  margin-left: 5%;
}

.burger_menu {
  position: relative;
  height: 3rem;
  width: 3rem;

  top: 0;
  right: 1rem;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 10;
}

.stroke {
  position: absolute;
  top: calc(50%);
  left: 0;
  height: 0.3rem;
  width: 3rem;
  background: black;

  border-radius: 999px;
  pointer-events: none;

  transition: all 0.3s;
}

.burger_menu .stroke_top {
  transform: translateY(-1rem);
}
.burger_menu .stroke_center {
  transform: translateY(-0.2rem);
}
.burger_menu .stroke_bottom {
  transform: translateY(0.5rem);
}

.burger_menu .stroke_top.openMenu {
  transform: rotate(45deg);
}
.burger_menu .stroke_center.openMenu {
  transform: translateX(5rem);
  opacity: 0;
}
.burger_menu .stroke_bottom.openMenu {
  transform: rotate(-45deg);
}

nav ul {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #007e91;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav ul li {
  margin-bottom: 1rem;
}

nav ul li a {
  color: white;
  font-size: 3rem;
}

nav ul.openMenu {
  opacity: 1;
  pointer-events: all;
  z-index: 5;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

#section_1 {
  display: grid;
  grid-column: 1/-1;
  width: 100%;
  height: 100vh;
  background-image: url(pictures/splash.jpg);
  background-size: cover;
  background-position: 98% 10%;
  margin-bottom: 80px;
  place-content: center;
}

#section_1 .overskrift_container {
  z-index: 0;
  margin-top: -17rem;
}
#section_1 .overskrift_container h2 {
  font-size: 3rem;
  font-weight: 300;
  color: var(--white);
  text-align: center;
  padding: 0.5rem;
}

.h2_wrapper {
  margin-left: 1.6rem;
}

#section_1 .overskrift_container {
  margin-left: -32rem;
}
#om_mig_section_1 {
  margin-bottom: 3rem;
  margin-top: 4rem;
}

#om_mig_section_1 .section_wrapper {
  background-color: var(--accent_light);
  margin-bottom: 1.5rem;
  column-gap: 2rem;
}

#tema1_section_1 .section_wrapper {
  background-color: var(--tertiary);
  margin-bottom: 1.5rem;
  column-gap: 2rem;
}

#tema2_section_1 .section_wrapper {
  background-color: var(--accent_light);
  margin-bottom: 1.5rem;
  column-gap: 2rem;
}

#tema2_section_1 .col2 {
  background: url(billed_dokumentation/tema_2/forside.png);
  background-size: cover;
  background-position: center;
}

#tema2_section_2 .section_wrapper {
  background-color: var(--primary);
  margin-bottom: 1.5rem;
  column-gap: 2rem;
}

#tema2_section_2 .col1_img {
  background: url(billed_dokumentation/tema_2/styletile.png);
  background-size: cover;
  background-position: center;
}

#tema3_section_1 .section_wrapper {
  background-color: var(--accent_light);
  margin-bottom: 1.5rem;
  column-gap: 2rem;
}

#tema3_section_2 .section_wrapper {
  background-color: var(--tertiary);
  margin-bottom: 1.5rem;
  column-gap: 2rem;
}

#tema3_section_3 .section_wrapper {
  background-color: var(--accent_light);
  margin-bottom: 1.5rem;
  column-gap: 2rem;
}

#tema3_section_2 .col2 {
  background: url(billed_dokumentation/tema_3/prototype.png);
  background-size: cover;
  background-position: center;
}

#tema3_section_3 .col4 {
  background: url(billed_dokumentation/tema_3/pitch.png);
  background-size: cover;
  background-position: center;
}

#tema3_section_3 .col5 {
  background: url(billed_dokumentation/tema_3/pitch1.png);
  background-size: cover;
  background-position: center;
}
#tema3_section_3 .col6 {
  background: url(billed_dokumentation/tema_3/pitch2.png);
  background-size: cover;
  background-position: center;
}

#portfolio_section_1 .box_1 {
  background: url(tema_pics/tema1.jpg);
  background-size: cover;
  background-position: center;
}

#portfolio_section_1 .box_2 {
  background: url(tema_pics/tema2.jpg);
  background-size: cover;
  background-position: center;
}

#portfolio_section_1 .box_3 {
  background: url(tema_pics/tema3.png);
  background-size: cover;
  background-position: center;
}

#portfolio_section_1 .box_4 {
  background: url(tema_pics/tema4.png);
  background-size: cover;
  background-position: center;
}

#portfolio_section_1 .box_5 {
  background: url(tema_pics/tema5.png);
  background-size: cover;
  background-position: center;
}

#portfolio_section_1 .box_6 {
  background: url(tema_pics/tema_6.jpg);
  background-size: cover;
  background-position: center;
}

#portfolio_section_1 .box {
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =========================== Footer ===========================*/
footer {
  grid-column: 1/-1;
  width: 100%;
  height: auto;
  background: var(--tertiary);
  padding: var(--medium_spacing);

  color: var(--black);
}
footer div,
h4 {
  padding: 15px;
  font-size: 1.3rem;
}

/* =========================== Mediaqueries ===========================*/
@media screen and (min-width: 600px) {
  /* =========================== Footer ===========================*/

  footer {
    padding-inline: 8rem !important;
    padding-top: 4rem !important;
  }

  /* =========================== Sections ===========================*/

  #om_mig_section_1 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #portfolio_section_1 .box_container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  #tema1_section_1 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #tema2_section_1 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #tema2_section_2 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #tema3_section_1 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #tema3_section_2 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #tema3_section_3 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* =========================== Menu ===========================*/
  /* =========================== Burgermenu ===========================*/

  header .logo {
    margin: auto;
    font: cookie, cursive;
    color: #007e91;
  }

  .burger_menu {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin-right: -9rem;
  }

  nav ul {
    position: static;
    height: auto;
    width: 100%;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;

    transition: all 0.3s;
    transform-origin: left;

    padding: 1.5rem;
  }

  nav ul li {
    position: relative;
    margin-bottom: 0;
  }
  nav ul li::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 0.1rem;
    background: #4b4b4b;

    transition: transform 0.3s;
    transform-origin: right;
    transform: scaleX(0);
  }

  nav ul li a {
    color: #4b4b4b;
    font-size: 1.4rem;
  }
  nav ul li:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }

  nav ul.openMenu {
    opacity: 1;
    pointer-events: all;
    z-index: 5;
  }

  .hidden {
    opacity: 1;
    pointer-events: all;
  }
}
